body{
    background-color: white;
    padding: 20px 10px;
    font-family: 'Roboto', sans-serif;
}

#main{
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    padding: 15px 15px;
}

#img-div{
    background-color: white;
    padding: 15px;
}

#tribute-info{
    display: block;
    margin: auto;
    width: 40%;
    text-align: left !important;
    padding: 20px;
}

#tribute-info h2{
    text-align: center;
}

#tribute-info ul{
    padding: 10px;
}

#tribute-info ul li{
    padding: 10px
}

#image{
    display: block;
    margin: auto;
    max-width: 80%;
}